* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  cursor: pointer;
}

.content {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 30px;
}